{% extends 'base.html.twig' %}

{% block body %}
    <h1>Enregistrement livre</h1>

    {# ouvre la balise form #}
    {{ form_start(form) }}

    {# bloc de formulaire pour le champ name #}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.author) }}

    <div class="text-right">

        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>

        <a href="{{ path('app_book_index') }}"
           class="btn btn-outline-secondary">
            Retour
        </a>

    </div>
    {# ferme la balise form #}
    {{ form_end(form) }}
{% endblock %}

