{% extends 'base.html.twig' %}

{% block body %}

    <div class="card bg-light mb-3">
        <div class="card-body">
            {{ form_start(search_form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(search_form.title) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(search_form.author) }}
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-info">
                    Rechercher
                </button>
            </div>
            {{ form_end(search_form) }}
        </div>
    </div>

    <h1>Gestion des livres</h1>
    <a href="{{ path('app_book_edit') }}"
       class="btn btn-outline-primary mb-3">
        Ajouter un livre
    </a>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Livres</th>
            <th>Description</th>
            <th>Auteur</th>
            <th width="250px"></th>
        </tr>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.description }}</td>
                <td>{{ book.author }}</td>
                <td>
                    <a href="{{ path('app_book_edit', {'id': book.id}) }}"
                       class="btn btn-outline-warning">
                        Modifier
                    </a>
                </td>

                <td>
                    <a href="{{ path('app_book_delete', {'id': book.id}) }}"
                       class="btn btn-outline-danger">
                        Supprimer
                    </a>
                </td>

            </tr>
        {% endfor %}
    </table>

{% endblock %}