{% extends 'base.html.twig' %}

{% block title %}Hello LoanController!{% endblock %}

{% block body %}
    <h1>Gestion des emprunts</h1>
    <a href="{{ path('app_loan_edit') }}"
       class="btn btn-outline-primary mb-3">
        Ajouter un emprunt
    </a>

    <table class="table">
        <tr>
            <th>Livre</th>
            <th>Emprunteur</th>
            <th>Date de début d'emprunt</th>
            <th>Date de fin d'emprunt</th>
            <th width="250px"></th>
        </tr>
        {% for loan in loans %}
            <tr>
                <td>{{ loan.book }}</td>
                <td>{{ loan.user }}</td>
                <td>{{ loan.startDate|date('d/m/Y') }}</td>
                {% if loan.endDate is null %}
                    <td>Pas de date</td>
                    {% else %}
                        <td>{{ loan.endDate|date('d/m/Y') }}</td>
                {% endif %}
                <td>
                    <a href="{{ path('app_loan_duedate', {'id': loan.id}) }}"
                       class="btn btn-outline-warning">
                        Rendre livre
                    </a>
                </td>

                <td>
                    <a href="{{ path('app_loan_delete', {'id': loan.id}) }}"
                       class="btn btn-outline-danger">
                        Supprimer
                    </a>
                </td>

            </tr>
        {% endfor %}
    </table>

{% endblock %}
