<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Symfony blog{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('lib/bootstrap.min.css') }}">
    {% endblock %}
</head>
<body>


<nav class="navbar navbar-expand-md navbar-dark bg-info">
    <div class="container navbar-nav">
        <a class="navbar-brand" href="{{ path('app_book_index') }}">
            Blog
        </a>
        {# affiche le rendu de la méthode menu() de CategoryController #}
        {# {{ render(controller('App\\Controller\\CategoryController::menu')) }}#}
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class= "nav-link" href="{{ path('app_book_index') }}">
                    Livres
                </a>
            </li>

            <li class="nav-item">
                <a class= "nav-link" href="{{ path('app_user_index') }}">
                    Abonnés
                </a>
            </li>

            <li class="nav-item">
                <a class= "nav-link" href="{{ path('app_loan_index') }}">
                    Emprunts
                </a>
            </li>
            {% if not app.user %}
                

            <li class="nav-item">
                <a href="{{ path('security_login') }}" class="nav-link">Connexion</a>
            </li>
                {% else %}
            <li class="nav-item">
                <a href="{{ path('app_security_logout') }}" class="nav-link">Déconnexion</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container">
    {% block body %}{% endblock %}
</div>


{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <scrip src="{{ asset('lib/bootstrap/bootstrap.min.js') }}"></scrip>

{% endblock %}
</body>
</html>
