{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h1>Enregistrement livre</h1>

    {# ouvre la balise form #}
    {{ form_start(form) }}

    {# bloc de formulaire pour le champ name #}
    {{ form_row(form.lastname) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.email) }}
    <div class="text-right">

        <button tpye="submit" class="btn btn-primary">
            Enregistrer
        </button>

        <a href="{{ path('app_book_index') }}"
           class="btn btn-outline-secondary">
            Retour
        </a>

    </div>
    {# ferme la balise form #}
    {{ form_end(form) }}
{% endblock %}



