{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <h1>Gestion des users</h1>
    <a href="{{ path('app_user_edit') }}"
       class="btn btn-outline-primary mb-3">
        Ajouter un user
    </a>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Mail</th>
            <th width="250px"></th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}"
                       class="btn btn-outline-warning">
                        Modifier
                    </a>
                </td>

                <td>
                    <a href="{{ path('app_user_delete', {'id': user.id}) }}"
                       class="btn btn-outline-danger">
                        Supprimer
                    </a>
                </td>

            </tr>
        {% endfor %}
    </table>

{% endblock %}
